AI Job Finder.json
{
  "name": "AI Job Finder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8165e136-d375-4f10-af61-4ca34004b4ed",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/categories/remote-programming-jobs.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "d2a53706-70be-4c6f-b02b-6914daa80a2f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9614bbac-895a-4cea-a504-fcd02a106a4b",
              "leftValue": "={{$json.title}}",
              "rightValue": "Python",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f77ea81d-76b2-45dd-9746-e22d59016cf6",
              "leftValue": "={{$json.title}}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8726a91c-68cf-40cc-88b5-b059473264d4",
              "leftValue": "={{$json.title}}",
              "rightValue": "Machine Learning",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9ea03aea-fb05-4746-ab00-cf7a3959e328",
              "leftValue": "={{$json.title}}",
              "rightValue": "Software",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0601b732-ad12-458f-8b92-58c5ba9dcff4",
              "leftValue": "={{$json.title}}",
              "rightValue": "Intern",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        848,
        -16
      ],
      "id": "a5dfa11b-6acb-437a-80b4-b84714531972",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a job matching assistant.\n\nAnalyze this job:\n\nTitle:\n{{$json.title}}\n\nDescription:\n{{$json.content}}\n\nMy Skills:\nPython\nJava\nReact\nFlask\nMachine Learning\nAI\n\nReturn ONLY:\n\nCompany:\nRole:\nMatch Score:\nRequired Skills:\nSummary:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        -16
      ],
      "id": "ba8e3ea3-0415-4b3d-aec1-e10f98f8afcf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1040,
        192
      ],
      "id": "d800b606-04e3-4da4-8e60-36142be27658",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "ktcawDXqOseNQXYl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5058846273",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -16
      ],
      "id": "d8920ab7-abbf-4bf5-82d3-63ecd4037c69",
      "name": "Send a text message",
      "webhookId": "8c8becaa-6ea5-45e5-9385-fd787acb3121",
      "credentials": {
        "telegramApi": {
          "id": "m9f4NyiRTHtjzA4w",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://remoteok.com/remote-dev-jobs.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -176
      ],
      "id": "dc884b9c-dadf-4486-9012-0d638c5d9f64",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        176
      ],
      "id": "85734c4d-c46c-486a-9e82-1d29b289ea02",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -48
      ],
      "id": "06de5359-3578-4f24-b60a-7aa6531f3070",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "818bd61e-871d-46db-bbcd-40931bf4dbe6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64e8e096e54d53e650ebbe7917fe3063d6428d43191c35f3cd66e861909e688e"
  },
  "nodeGroups": [],
  "id": "uJZTi4gTwne56KAN",
  "tags": []
}